@media only screen and (min-width:200px) and (max-width: 575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        left:0%;
        width: 100%;
        justify-content: center;
        padding: 10px;
        background-color: white;
    }
    .Banner h1{
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        text-align: center;
    }
    .Banner p{
        text-align: center;
    }
    .Banner ul li {
        font-size: 16px;                   
    }

    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Demo{
        width: 100%;
        margin-bottom: 12px;
        font-size: 20px;
        margin-left: 0% ;
        display: flex;
        justify-content: center;
        
    }
    .Curriculum{
        width: 100%;
        margin-bottom: 16px;
        font-size: 20px;
        margin-left: 0% ;
    }
    
    .Banner {
        width: 100%;
        padding: 0 15px;
    }
    
    .Banner2 {
        margin-left: 0%;
        width: 100%;
        padding: 0 15px;
        align-items: center;
       
    }
    
    .form-control {
        width: 100%;
    }
    
    .row {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}