.whatsapp{
    color: #27AE60;
    border: 2px solid #27AE60;
    padding: 10px 18px;
    font-size: 16px;
    
}


.whatsapp:hover{
    
    border:2px solid #27AE60;
    /* zoom: 1.05; */

}

.Call{
    background: linear-gradient(to right, #0ACEFE, #2699fb);
    color: white;
    padding: 10px 18px;
}

.container{
    padding: 2px;
}

.Banner h1{
    font-weight: bold;
    font-size: 52px;
    text-align: center;

}

.Banner h1 span {
    color:#2699fb ;
}

.Banner ul{
    list-style: none;
   

}
.Banner ul li i{
    color: #2699fb;
}
.Banner ul li {
    font-size: 22px;                    
}
.Banner p{
    font-size: 22px;
}

.Demo {
    background: linear-gradient(to right, #0ACEFE, #2699fb);
    color: white;
    font-size: 20px;
    width: 100%;
}

.Curriculum {
    border:2px solid black;
    font-size: 18px;
    width: 100%;
    color: black;
}

.Curriculum:hover{
    border:2px solid black;
    font-size: 10px;
    width: 100%;
}
.Curriculum i{
    color: grey;
    padding-right: 10px;
    
}

.Register{
    background: linear-gradient(to right, #0ACEFE, #2699fb);
    color: white;
    padding: 10px 12px;
    font-size: 20px;
    width: 100%;
    margin-top: 10px
}

.Book{
    font-weight: bold;
    
}

.Banner2{
    margin-left: 30px;

}
    


.Counter{
    text-align: center  ;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    padding-right: 0%;
    padding-left: 0%;
}
.Counter h2{
    font-size: 40px;
    font-weight: bold;
    color: #2699fb;
}

.rupee{
    color: #2699fb;
}
